@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('pols.jpg');
  color: #fff;
}
.container {
  padding: 30px 50px;
}
#search-form {
  width: 30%;
  margin: 0 auto;
  position: relative;
}
#search-form input {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
}
#search-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #333;
}
.info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

@media (max-width: 1200px) {
  #search-form { width: 50%; }
}
@media (max-width: 768px) {
  .container { padding: 30px 35px; }
  #search-form { width: 100%; }
  .info { font-size: 0.5rem; }
}

.chat-column {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none; /* Initially hidden */
}

.chat-header {
  background-color: #3d0a56;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

.chat-header span {
  font-weight: bold;
}

.close-btn {
  float: right;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.chat-content {
  padding: 10px;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

.chat-bubble {
  background-color: #3d0a56;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 70%;
}

/* Tambahkan gaya untuk tombol mikrofon */
#voice-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #333;
}

